<!DOCTYPE html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/home1.css">

        <title>Project Titan</title>
   </head>

<body style="background-color: #1E1E1E;">
   <header>
      <nav style = "z-index: 100;">
         <div class="logo"><a href="#">PROJECT TITAN</a></div>
         <div class="menu">
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/#aboutus">About</a></li>
               <li><a href="add">Add Maps</a></li>
            </ul>
         </div>
      </nav>
   </header>
   
   <div class="title">
      <h2>Flood</h2>
      <h2>Flood</h2>
   </div>

   <a class="try" href="trynow">Try Now</a>
   

   <div class="parallax">
      <img class = "bg1" src="/static/bg1.png">
      <div class="container" id="aboutus" style="height:85vw; margin-top: -10px;background: linear-gradient(180deg, #08101D -26.51%, #001124 100%); position: relative;z-index: 10;">
         <img src="/static/SCR2.gif" style="width:100%;height: 70vw;">
         <div class="centered">
            <h2>Introducing Project Titan</h2> 
            Project Titan/Flood is made specifically to help reach water in areas that require it by making optimised routes for water transport. 
            We aim to increasing a value for water and getting water to areas that do require it. 
            It focuses very heavily on the right to water, helping areas in poverty, prone to droughts.
         </div>
         
      </div>
   </div>

   </div>
   <img src="/static/bridge.png" style="width:100%;position: absolute; z-index: 1002; margin-top: 100vw;">

   <div class="parallax" style="background-image: url('/static/background1.gif');margin-top: 100vw; height: 50vw"></div>


<script>


</script>

</body>
</html>