<!DOCTYPE html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/trynow.css">

        <title>Project Titan</title>
   </head>


<body>
   <header>
      <nav style = "z-index: 100;">
         <div class="logo"><a href="#">PROJECT TITAN</a></div>
         <div class="menu">
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/#aboutus">About</a></li>
               <li><a href="/add">Add Maps</a></li>
            </ul>
         </div>
      </nav>
   </header>

   <div class = 'main'>

      <form>
         <div class="box">
             <div class="box2">
                 <div class = 'text'>
       <label for="cityname">Enter the name of the city:</label>
       <input type="text" id="cityn">
       <br>
       <hr size="1" width="112%"  color="#000000">  
       <br>
       
      
       <label> Upload map of the city: </label>
         <input type="file" id="myFile" /></div>
     
         </div>
         </div>
     </form> 
     <button type="button" class = "Upload">Upload</button>
     

   </div>

</body>
</html>