<!DOCTYPE html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/trynow.css">
        <!--<script src="yayay.js"></script>-->

        <title>Project Titan</title>
   </head>


<body>
   <header>
      <nav style = "z-index: 100;">
         <div class="logo"><a href="#">PROJECT TITAN</a></div>
         <div class="menu">
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/#aboutus">About</a></li>
               <li><a href="/add">Add Maps</a></li>
            </ul>
         </div>
      </nav>
   </header>

   <div class = 'main'>
      <div class="dropdown">
          <div class ="droptxt">Select available areas:</div>
          <button class="dropbtn">Select City</button>
          <div class="dropdown-content">
            <a href="submit">California</a>
          </div>
      </div>

        <a href="add">
        <button class="add">Add existing Water Routes</button>
        </a>

   </div>

</body>
</html>